In [18]:
x = 7
y = "data"

print(x)
print(y)

my_variable = 10
print(my_variable)

my_variable += 5
print(my_variable)

7
data
10
15

Working with Strings

In [19]:
"I am a MSBA student"

question = "What are you studying?"
answer = "Analytics!"

print(question)
print(answer)

print(question + " " + answer) # cancatinating using standard format
print(f"{question} {answer}") # cancatinating using f string format

print(question + "\n" + answer) # line break

type(answer)

What are you studying?
Analytics!
What are you studying? Analytics!
What are you studying? Analytics!
What are you studying?
Analytics!

str

In [20]:
len(answer)

10

In [22]:
## Indexing a string

answer[0] # first character
answer[2] # third character
answer[9] # tenth character
answer[-1] # last character

'!'

In [ ]:
course = "CTBA"

len(course)

print(course[0:2]) # first two characters (this is exclusive). including indeces 0,1; excluding 2

CT

In [ ]:
## functions and methods

answer_cap = answer.upper() # convert to uppercase
print(answer_cap)

answer_lower = answer.lower()
print(answer_lower)

answer.find("t") # find index of the first occurence of "t"

ANALYTICS!
analytics!

5

In [ ]:
name = "Daniel Robbins"
print("Hello, my name is " + name + ". I am studying Business Analytics.")
print(f"Hello,  my name is {name}. I am studying Business Analytics")

Hello, my name is Daniel Robbins. I am studying Business Analytics.
Hello my name is Daniel Robbins. I am studying Business Analytics

In [ ]:
## Tuples

t1 = (1, 2, 3, 4, 5)
print(t1)

# t1[0] = 11 # Tuples are immutable, will produce error

(1, 2, 3, 4, 5)

In [ ]:
d1 = {"name" : "Daniel Robbins", "age": 21, "city": "Wheaton"}
print(d1)
print(d1["name"])

d1["email"] = "dcrobbins@wm.edu"
print(d1)

{'name': 'Daniel Robbins', 'age': 21, 'city': 'Wheaton'}
Daniel Robbins
{'name': 'Daniel Robbins', 'age': 21, 'city': 'Wheaton', 'email': 'dcrobbins@wm.edu'}
name : Daniel Robbins
age : 21
city : Wheaton
email : dcrobbins@wm.edu

In [ ]:
## formatting the dictionary with a for loop

for key, value in d1.items():
    print(key, ":", value)

In [41]:
people = {    
    "person1": {"name": "Schlosser", "age": 23, "city": "Williamsburg"},
    "person2": {"name": "Smith", "age": 30, "city": "Newport News"}
}

In [42]:
distances = {
    "A": {"B": 10, "C": 15},
    "B": {"A": 10, "C": 20},
    "C": {"A": 15, "B": 20}
}

print(distances)

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}

In [45]:
student_gpa = {"Bryce" : 3.8, "Mann": 3.6, "Tai":3.4, }
print(student_gpa)

student_gpa = {
    "Bryce":{"gpa": 3.8, "major":"BA", "numofcourses": "5"},
    "Mann":{"gpa": 3.6, "major":"BA", "numofcourses": "5"},
    "Tai":{"gpa": 3.4,"major":"BA", "numofcourses": "5"},
    "Conner" :{"gpa": 3.2,"major":"BA", "numofcourses": "5"}
}
print(student_gpa)

{'Bryce': 3.8, 'Mann': 3.6, 'Tai': 3.4}
{'Bryce': {'gpa': 3.8, 'major': 'BA', 'numofcourses': '5'}, 'Mann': {'gpa': 3.6, 'major': 'BA', 'numofcourses': '5'}, 'Tai': {'gpa': 3.4, 'major': 'BA', 'numofcourses': '5'}, 'Conner': {'gpa': 3.2, 'major': 'BA', 'numofcourses': '5'}}

In [ ]:
# if statements

x = 10
if x > 5:
    print("x is greater than 5")
    
# if-else

x = 4
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is greater than 5
x is odd

In [ ]:
# elif

x = 0
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Zero

In [52]:
## for loops

for i in range(5):
    print("i is", i)
    
## while loops

x = 0
while x < 5:
    if x % 2 == 0:
        print(x, "is even")
    else:
        print(x, "is odd")
    x += 1

i is 0
i is 1
i is 2
i is 3
i is 4
0 is even
1 is odd
2 is even
3 is odd
4 is even

In [54]:
import numpy as np

In [ ]:
list1 = [1,2,3,4,5]
print(list1)
list2 = [(1,2,3),(4,5,6)]
print(list2)

arr2 = np.array([(1,2,3),(4,5,6)])
print(arr2)

[1, 2, 3, 4, 5]

In [ ]:
list = [1,2,3]
arr1 = np.array([1,2,3])

for e in list:
    print(e)
for e in arr1:
    print(e)

[[1 2 3]
 [4 5 6]]

In [56]:
arr1 = np.array([1,2,3])

arr1 = np.append(arr1,4)
arr1 = np.append(arr1,[5]) #Append another element
for e in arr1:
    print(e)

1
2
3
4
5

In [ ]:
arr2 = arr1 + arr1
for e in arr2:
    print(e)